{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}История сделок{% endblock %}</h1>

{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>id</th>
      <th>Открытие позиции</th>
      <th>Позиция</th>
      <th>Цена входа</th>
      <th>Сумма входа</th>
      <th>Маржа</th>
      <th>Профит</th>
      <th>Символ</th>
      <th>Статус</th>
    </tr>
    {% for order in orders %}
     <tr>
      <td><a class="action" href="{{ url_for('blog.position_history', id=order['id']) }}">{{order['id']}}</a></td>
      <td>{{order['datetime'].strftime('%H:%M:%S %d.%m.%Y')}}</td>
     {% if order['opened_position'] == 'short' %}
      <td class="red">{{order['opened_position']}}</td>
    {% else %}
      <td class="green">{{order['opened_position']}}</td>
    {% endif %}

      <td>{{order['entry_price']}}</td>
      <td>{{order['position_size']}}</td>
      <td>{{order['margin']}}</td>
      <td>{{order['profit']}}</td>
      <td>{{order['symbol']}}</td>
      <td>{{order['status']}}</td>
    </tr>
     {% endfor %}
  </table>



{% endblock %}